#container {
margin-top: 100px;
}

.about {
  font-size: 17px;
}

hr {
  margin-top: 40px;
}

#portfolio {
  padding-top: 64px;
}

.card-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.centeredTitle {
  text-align: center;
}

#contact {
  margin-top: 100px;
}

.footer-copyright {
  text-align: center;
}

.icons {
  color: white;
  text-align: center;
  padding: 5px 10px;
}